mixin avatar(user, faSize='fa-2x', isLink=true)
    if isLink
        a(href=`/users/${user.id}/profile`)
            if user.avatarUrl
                img(src=user.avatarUrl, alt=user.username)
            else
                .default-avatar: i.fa-regular.fa-circle-user(class=faSize)
    else
        if user.avatarUrl
            img(src=user.avatarUrl, alt=user.username)
        else
            .default-avatar: i.fa-regular.fa-circle-user(class=faSize)
