include avatar.pug

if isLoggedIn
    #user-badge.flex-column
        #avatar
            +avatar(sessionUser, 'fa-5x')
        .username @#{sessionUser.username}
        .user-since User Since: #{sessionUser.createdAt.toISOString().split('T')[0]}
    #greeting
        p Welcome to Meme Overflow, #{sessionUser.username}!
    ul#user-links
        li#my-questions: a(href=`/users/${sessionUser.id}/questions`) My Questions
        li#my-answers: a(href=`/users/${sessionUser.id}/answers`) My Answers
    #tags
